@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* scroll-behavior: smooth; */
	/* background-color: #280404; */
}
*,
root,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-color: #b5b5b5;
}

body {
	font-family: poppins;
	color: black;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
	display: none;
	width: 0.5em;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar-track {
	background-color: transparent;
}

body::-webkit-scrollbar,
.scroll::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 0.25em;
}

.scroll-bar::-webkit-scrollbar {
	width: 4px;
}

.scroll-bar::-webkit-scrollbar-track {
	background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
	background-color: #d34553;
	border-radius: 2em;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

@layer utilities {
	.filter-shadow {
		box-shadow: 2px 10px 2px rgb(198, 196, 196);
	}
	.filter-shadow-dark {
		box-shadow: 2px 10px 2px #1c0406;
	}

	.filter-shadow-small {
		box-shadow: 2px 2px 4px #bab7b7;
	}

	.filter-shadow-small-dark {
		box-shadow: 0 0 0 white;
	}
}

/* ------------Primary text-------------- */

.primary-medium-text {
	@apply font-medium;
}

.secondary-text {
	@apply text-sheger-gray-100;
}

.tertiary-text {
	@apply text-sheger-gray-400;
}

/* ---------------------------Button---------------------- */

.primary-button {
	@apply px-4 py-3 rounded-md flex items-center space-x-2 justify-center cursor-pointer;
}

/* ---------------------------Border---------------------- */

.secondary-border {
	@apply border  border-sheger-gray-300;
}

/* ---------------------------Background---------------------- */

/* ---------------------------Flex---------------------- */
.primary-flex-row {
	@apply flex flex-row items-center space-x-2;
}

.secondary-flex-row {
	@apply flex flex-row items-center space-x-4;
}

.teritary-flex-row {
	@apply flex flex-row items-center space-x-6;
}
.form-input {
	@apply py-2 border-gray-200 border px-4;
}
/* ---------------------------No edge---------------------- */

.border-outline-ring-removal {
	@apply border-none hover:border-none focus:border-none focus:ring-0 focus:outline-none;
}

.steper-button {
	@apply bg-sheger-gray-500 w-full flex items-center justify-center text-lg border-r border-sheger-gray-200;
}
