@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* scroll-behavior: smooth; */
  /* background-color: #280404; */
}
*,
root,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: #b5b5b5;
}

body {
  font-family: poppins;
  color: black;
}

/* ------------------------------- Scroll Bar ------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* hides scrollbar */
.scroll-bar-hide::-webkit-scrollbar {
  display: none;
}

/* hides scrollbar */
.scroll-bar-hide::-webkit-scrollbar {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-primary-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-400;
}

@layer utilities {
  .filter-shadow {
    box-shadow: 2px 10px 2px rgb(198, 196, 196);
  }
  .filter-shadow-dark {
    box-shadow: 2px 10px 2px #1c0406;
  }

  .filter-shadow-small {
    box-shadow: 2px 2px 4px #bab7b7;
  }

  .filter-shadow-small-dark {
    box-shadow: 0 0 0 white;
  }
}

/* ------------Primary text-------------- */

.primary-medium-text {
  @apply font-medium;
}

.secondary-text {
  @apply text-sheger-gray-100;
}

.tertiary-text {
  @apply text-sheger-gray-400;
}

/* ---------------------------Button---------------------- */

.primary-button {
  @apply flex items-center justify-center px-4 py-3 space-x-2 rounded-md cursor-pointer;
}

/* ---------------------------Border---------------------- */

.secondary-border {
  @apply border border-sheger-gray-300;
}

/* ---------------------------Background---------------------- */

/* ---------------------------Flex---------------------- */
.primary-flex-row {
  @apply flex flex-row items-center space-x-2;
}

.secondary-flex-row {
  @apply flex flex-row items-center space-x-4;
}

.teritary-flex-row {
  @apply flex flex-row items-center space-x-6;
}
.form-input {
  @apply px-4 py-2 border border-gray-200;
}
/* ---------------------------No edge---------------------- */

.border-outline-ring-removal {
  @apply border-none hover:border-none focus:border-none focus:ring-0 focus:outline-none;
}

.stepper-button {
  @apply flex items-center justify-center w-full text-lg border-r bg-primary-200 border-sheger-gray-200;
}
